


/* base */
body {
    margin: 0;
    padding: 0;
    height: 2000px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.header{
    background:url("/static/img/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1880px;
    margin: 0 auto;
    padding: 0 20px; 
}

.logo__img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    transition: opacity 0.8s;
}

.logo__img:hover{
    opacity: 0.5;
}

.text_white {
    color:white
}


.logo_second_part{
    color:green;
}
.logo_first_part{
    color:white;
}

.header__info{
    padding-left: 110px;
}


.header__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


.nav__a{
    text-decoration: none;
}

.empty_space{
    height: 300px;
}

.nav {
    list-style: square;
    color:green;
    transition: opacity 0.8s;

}
.nav__a :hover{
     opacity: 0.5;
}


.nav li:first-child{
    list-style: none;
    /* color: white; */
}

.sale {
    padding: 10px;
    font-weight: 900;
    font-size: 23px;
}

.sale_background{
    display: flex;
    justify-content: center;
    background:url("/static/img/Vector.svg") no-repeat;
    max-width: 355px;
    height: 216px;

}

.rec{
    display: flex;
    justify-content: center;
    align-items: center;
    background:url("/static/img/rec_org.svg") no-repeat;
    max-width: 341px;
    height: 64px;

    font-size: 30px;
    font-weight: 900;

}

.arrow_down{
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 30px;
    transition: opacity 0.8s;
}


.arrow_down :hover{
    opacity: 0.5;
}

.benifis_text_center{
    display: flex;
    justify-content: center;

}


.benifis_center_div{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 140px;

}





.benifis_blocks{
    display: grid;
    
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px; 
    column-gap: 300px;
    row-gap: 400px;

    width: 1087px;

}

.benifis_img_block{
    display: flex;
    justify-content: center;
}

.benifis_img_block span {

    display: flex;
    align-items: center;
    justify-content: center;

    border:solid #3FAF38;
    border-radius: 50%;
    border-width: 1px;
    width: 60px;
    height: 60px;

}

.benifis_block{
    width: 300px;
    height: 400px;
}


.benifis_block_white{
    background-color: white;
    border: solid green;
}

.benifis_block_green{
    background-color: #3FAF38;
}





.header__top{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.nav ul::before {
    content: '';
}


.footer{
    background-image: url('/static/img/ФОН\ 3\ ЭКРАН.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.flex_colunm_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}


.footer_left_side{

    display: flex;
    flex-direction: column;

    padding-left: 150px;

}

.footer_left_side h1{
    width:500px ;
}

.paddings_footer{
    padding-right: 50px;
    padding-left:  50px ;
}

.footer_buttons{
    display: flex;
    flex-direction: row;

    align-items:center ;
    justify-content: center;
    

}

.footer_btn{
    border: solid greenyellow;
    border-radius: 22%;
    margin: 20px;
}

.footer_inputBox{
    display: flex;
    flex-direction: column;
    
}

.footer_inputBox input{
    margin: 20px;
    padding:10px;
}

.top_bottom_padding_footer{
    padding-top:150px ;
    padding-bottom:150px ;
}

.footer_left_side p {

    border: solid gray;
    padding: 30px;
    border-radius: 4%;   
}

.footer_right_side{
    width: 500px;
    height: 700px;

    background-color: rgb(0,0,0, 0.5);

    margin-right: 200px;

}

